@charset "UTF-8";

/* //////////// SETUP //////////////////*/
:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

.clear {
	clear:both;
}

body {
	background: #FFF;
	margin: 0;
	padding: 0;
}

/* //////////// BANNER //////////////////*/

#container {
	position: absolute;
	width: 726px;
	height: 88px;
	top: 0;
	left: 0;
	overflow: hidden;
	border: 1px solid #999;
	background-color: #FFF;
}

#content {
	width: 728px;
	height: 90px;
	left: 0;
	top: 0px;
}

/* //////////// CONTENT //////////////////*/

.content {
	position: absolute;
}

.alpha0 {
	opacity: 0;
	filter: alpha(opacity=0);
}

/* //////////// */

/*#bg {
	left: 0;
	top: 0;
	width: 728px;
	height: 90px;
	background: url(bg.jpg) repeat-y;
}

#txt1 {
	left: 25px;
	top: 9px;
	/*top: -24px;*/
/*}

#txt2 {
	left: 25px;
	top: 39px;
}

#txt3 {
	left: 25px;
	top: 58px;
}

#arrow {
	margin-top: -7px;
	left: 100px;
	top: 7px;
}

#arrowOver {
	left: 105px;
}

#logoBg {
	left: 386px;
	top: 0;
}

#logo {
	left: 28px;
	top: 12px;
}

#cta {
	width: 518px;
	height: 90px;
	left: 0;
	top: 0;
	cursor: pointer;
}*/


/* //////////// ISI //////////////////*/
/* //////////// ISI //////////////////*/

#ISI_holder {
	left: 518px;
	top: 0px;
	width: 210px;
	height: 90px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: 2f2f2f;
	background-color: #FFF;
}

.copy {
	width: 184px;
}

#scroller {
	left: 6px;
	top: 0px;
	width: 203px;
	height: 88px;
	overflow: hidden;
	background-color: #FFF;
}

#miniscroll-scroller {
}

.miniscroll-container {
	margin-top: 0px !important;
}

.miniscroll-thumb {
	width: 13px !important;
	left: 0px !important;	
	cursor: pointer;
}

.miniscroll-tracker {
	width: 11px !important;
	border: 1px solid #c0c1c3 !important;
	background-color: #d1d2d4 !important;
}

#message {
	width: 229px;
	height: 30px;
	background-color: #FFF;
	text-align: center;
	bottom: 0;
	left: 486px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #2f2f2f;
}

/* //////////// ISI TEXT FORMAT //////////////////*/

.title {
	margin-bottom: 0px;
}

p {
	margin: 6px 0 4px;
}

.bold {
	font-weight: bold;
}

.margin {
	margin-bottom: -9px; 
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: blue;
	text-decoration: none;
}

a:active {
    color: blue;
}

sup {
	font-size: 5px;
}

#shire {
	margin: 10px 0 5px;
}